@page
@model MascotaFeliz.App.Frontend.Pages.ActualizarDuenoModel
@{
}
<section class='general'>

  <div class='contenedor-titulo'>
    <h4>Actualizar Propietario</h4>
  </div>

  <form method="POST">
    <div class='formulario' id='register-dueno'>
      <input type='hidden' name='id' id='id' value='@Model.dueno.Id'>
      <input type='text' name='identificacion' id='identificacion' class='form-dueno' placeholder='Ingrese Identificacion' value='@Model.dueno.Identificacion'>
      <input type='text' name='nombres' id='nombres' class='form-dueno' placeholder='Ingrese Nombres' value='@Model.dueno.Nombres'>
      <input type='text' name='apellidos' id='apellidos' class='form-dueno' placeholder='Ingrese Apellidos' value='@Model.dueno.Apellidos'>
      <input type='text' name='direccion' id='direccion' class='form-dueno' placeholder='Ingrese Direccion' value='@Model.dueno.Direccion'>
      <input type='tel' name='telefono' id='telefono' class='form-dueno' placeholder='Ingrese Telefono' value='@Model.dueno.Telefono'>
      <input type='email' name='correo' id='correo' class='form-dueno' placeholder='Ingrese Correo' value='@Model.dueno.Correo'>
      <input type='submit' value='Actualizar'>
    </div>
  </form>

    <div class='volver'>
     <a href='ListarDueno'><i class="fa-solid fa-backward">Volver</i></a>
    </div>

</section>